.card {
  margin-top: 20px;
}

.definition {
  margin: 12px 0;
}

.example {
  font-style: italic;
}

.noun {
  background-color: #D2F2D4;
  border-radius: 5px;
  padding: 10px
}

.adjective {
  background-color: #DBEBF6;
  border-radius: 5px;
  padding: 10px

}

.verb {
  background-color: #F4C6C6;
  border-radius: 5px;
  padding: 10px

}

.interjection {
  background-color: #F5E0C6;
  border-radius: 5px;
  padding: 10px
}

