.wrapper {
  background-color: white;
  width: 50%;
  border-radius: 5px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}

.input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1rem;
  width: 100%;
  margin-left: 15px;
  font-family: "lato", serif;
}

.input:focus {
  outline: none;
}

.icon {
  font-size: 30px;
  color: royalblue;
}

h1 {
  text-align: center;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
}
