.sidebar {
  height: 100vh;
  transition: 0.3s ease-in-out;
  z-index: 100;
  position: fixed;
  background-color: #3d3832;
  color: white;
  width: 20%;
  text-align: center;
  padding: 30px 20px;
}

.rotate {
  transform: rotate(180deg);
}

.arrow {
  background-color: white;
  border-radius: 100%;
  font-size: 35px;
  position: absolute;
  right: -20px;
  top: 40px;
  cursor: pointer;
}

.content {
  color: white;
  text-align: center;
  border-radius: 8px;
  padding: 0 30px;
}

.word {
  cursor: pointer;
  font-family: "lato", serif;
  font-size: 1.5rem;
  padding: 10px 0;
}

.active {
  background-color: gray;
  border-radius: 5px;
  
}

.title {
  font-size: 2rem;
  font-family: "DM Serif Display", serif;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
